*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

body {
  background-color: #d0d0d0; 
  color: #333; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

}
.body2{
  overflow-y: auto; /* İçeriğin kayması için */
  overflow-x: hidden;

}



.ui.cards {
margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em; 
  justify-content: center; 
  padding: 1em 0;
  color: black;

}


.ui.card {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  color: black;
  
}

.ui.card:hover {
  transform: translateY(-5px); /* Hover efekti */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.ui.card .image {
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  background: #f0f0f0;
}

.ui.card .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.ui.card .content {
  flex-grow: 1;
  padding: 1em;
  background-color: #fff;
  border-top: 1px solid #ddd;
  color: black;

}

.ui.card .content .header {
  font-size: 1.25em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5em;
  color: black;
  font-weight: bold;

}



@media (max-width: 768px) {
  .ui.cards {
    justify-content: center;
    padding: 0 1em;
  }

  .ui.card {
    width: 100%;
    margin: 10px 0;
  }
}
.allrecipes{
    margin: 20px;
    text-align: center;

}
.hearticon{
 display: flex;
 justify-content: flex-end;
 
}
.categorySelect {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.checkbox {
  display: flex;
  align-items: center;
  zoom: 1.2;
  margin-left: 10px;
}

.user-recipe-card {
  background-color: #ffffff;
  border: 2px solid rgba(255, 193, 7, 0.7);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%; /* Kart genişletildi */
  display: flex;
  flex-direction: column; /* Başlık ve içerik alt alta */
}


.user-recipe-card h3 {
  color: #000000; /* Turuncu başlık */
  margin-bottom: 10px;
}

.user-recipe-card p {
  color: #2c3e50; /* Koyu gri metin */
  font-size: 16px;
}

